body {
  margin: 0;
  padding: 0;
  outline: none;
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  background: white;
}

#page {
  width: 600px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50px);
}

#answer-holder {
 position: absolute;
 width: 100%;
 word-wrap: break-word;
 bottom: 140%;
}

.answer {
  color: #69de9e;
  text-align: -webkit-center;
  font-size: 35px;
  margin: auto;
}

.block {
  margin: auto;
  position: relative;
}

.block::after {
    display: block;
    position: relative;
    top: 10px;
    text-align: -webkit-center;
    border-bottom: 1px dashed #d7d8db;
    line-height: 20px;
    color: #b5b5b5;
}

.action {
  margin: 20px;
  text-align: -webkit-center;
}

button.btn {
    padding: 10px 30px;
    border: 0;
    background: #ffffff;
    color: #757575;
    border-radius: 30px;
    outline: none;
    transition: 0.2s;
    font-size: 14px;
    border: 1px solid #757575;
}

button.btn:hover {
    cursor: pointer;
    background: #65bce4;
    color: white;
    border-color: #65bce4;
}

input[type="text"] {
    margin: auto;
    background: #ffffff;
    color: #6d6d6d;
    padding: 15px;
    width: 100%;
    border: 0;
    outline: none;
    font-size: 17px;
    box-shadow: 0 2px #ebebeb;
}

input[type="text"]:focus {
    box-shadow: 0 2px #63bee7;
}

label {
    color: #6d6d6d;
}

:focus::-webkit-input-placeholder {
    transform: translateX(0%);
    transition: 0.5s all;
}

::-webkit-input-placeholder {
    transform: translateX(20%);
    transition: 0.5s all;
}
