* {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    user-select: none;
}

#page {
    width: 100vw;
    height: 100vh;
}

.middle-block {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-45%) scale(2);
    width: auto;
    text-align:
    -webkit-center;
    height: 196px;
    width: 250px;
}

.button {
    background: #2196F3;
    color: white;
    border-radius: 3px;
    display: table-caption;
    padding: 15px;
    width: 30px;
    transition: 0.2s all;
}

.button.left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(-0%) translateY(-50%);
}

.button.up {
    position: absolute;
    top: 0;
    left: 51%;
    transform: translateX(-51%) translateY(-0%);
}

.button.down {
    position: absolute;
    top: 100%;
    left: 51%;
    transform: translateX(-51%) translateY(-100%);
}

.button.right {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateX(-100%) translateY(-50%);
}

.button.left:hover, .button.left.jqhover {
    margin-left: -10px;
    background: #1f85d6;
}

.button.right:hover, .button.right.jqhover {
    margin-left: 10px;
    background: #1f85d6;
}

.button.up:hover, .button.up.jqhover {
    margin-top: -10px;
    background: #1f85d6;
}

.button.down:hover, .button.down.jqhover {
    margin-top: 10px;
    background: #1f85d6;
}

i.fas.fa-arrow-left {
    background: none;
    vertical-align: middle;
}

i.fas.fa-arrow-up {
    background: none;
    vertical-align: middle;
}

i.fas.fa-arrow-right {
    background: none;
    vertical-align: middle;
}

i.fas.fa-arrow-down {
    background: none;
    vertical-align: middle;
}

.key {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: none;
    color: #404040;
}

.stats {
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translateX(-50%) translateY(-130%);
    border: none;
    color: #404040;
    width: max-content;
}

.timer {
    position: absolute;
    top: 160%;
    left: 50%;
    transform: translateX(-50%) translateY(-160%);
    border: none;
    color: #404040;
    width: max-content;
    font-size: 30px;
    font-weight: bold;
}
